<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard</title>
  <%= stylesheet_link_tag    "screen", :media => "all" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
