<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard</title>
  <%= stylesheet_link_tag "screen", :media => "all" %>
  <link href="http://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



</body>
</html>
